@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Exo 2", sans-serif;
	background: #222222;
	color: black;
	font-size: 14px;

	display: grid;
	place-items: center;
}

.App {
	text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.Movies {
	margin-bottom: 24px;
}

.Movies select {
	appearance: none;
	background: white;
	font-size: 14px;
	margin-top: 15px;
	border-radius: 10px;
	padding: 6px 24px;
}

.ShowCase {
	margin: 0 0 48px;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	background: #3b3b3b;
	padding: 12px;
	border-radius: 4px;
	color: #7e7e7e;
}

.ShowCase li {
	margin: 0 12px;
}

.Cinema {
	margin-bottom: 18px;
	perspective: 400px;

	display: grid;
	place-items: center;
	grid-gap: 24px;
}

.Cinema .screen {
	height: 70px;
	background: white;
	width: 100%;
	transform: rotateX(-30deg) scale(1.1);
	box-shadow: 0 3px 10px 2px;
}

.Cinema .seats {
	display: grid;
	grid-gap: 6px;
	grid-template-columns: repeat(8, min-content);
	align-items: center;
}

.Cinema .seats .seat:nth-of-type(8n + 2) {
	margin-right: 12px;
}

.Cinema .seats .seat:nth-of-type(8n + 6) {
	margin-right: 12px;
}

.Cinema .seats .seat:not(.occupied):hover,
.Cinema .seats .seat:not(.occupied):focus {
	cursor: pointer;
	background: #c1eac5;
	transform: scale(1.2);
}

.Cinema .seats .seat.selected::after {
	content: "";
	position: absolute;
	top: 0;
	left: 2px;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid #7bc47f;
	animation: show-off 0.8s;
	visibility: hidden;
}

@keyframes show-off {
	0% {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}

	100% {
		transform: scale(3);
		opacity: 0;
	}
}

.seat {
	display: inline-block;
	background: #626262;
	width: 16px;
	height: 12px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	transition: transform 0.3s ease-in-out;

	position: relative;
	top: 1px;
}

.seat.selected {
	background: #7bc47f !important;
}

.seat.occupied {
	background: #cfcfcf;
}

.info .count {
	color: #7bc47f;
}

.info .total {
	color: #7bc47f;
}
.box {
	color:#7bc47f;
	width: 140px;
	height: auto;
	float: left;
	transition: .5s linear;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	margin: 0 5px;
	background: transparent;
	text-transform: uppercase;
	font-weight: 900;
  }
  
  .box:before {

	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 4px;
	width: 100%;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(100%);
  }
  
  .box:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	transform: translateX(-100%);
  }
  
  .box:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
	border-color: white;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
	border-color: #262626;
	height: 100%;
	transform: translateX(0);
	transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
	color: black;
	text-decoration: none;
	cursor: pointer;
	outline: none;
	border: none;
	background: transparent;
  }